body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #f03970;
}

.purple {
    background-color: #547aeb;
}

.green {
    background-color: #65bad4;
}

.flash {
    background-color: white;
}